<ion-header>
  <ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesquisar" showCancelButton cancelButtonText="Cancelar" animated="true"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="border_content">
  <div class="title_categoria">
    <p>DGPC - Departamento Geral de Polícia da Capital</p>
  </div>
  <ion-list class="lista_enderecos">
    <ion-item>
      <div class="div_lista_enderecos">
        <span>001ª DP – Praça Mauá</span>
        <p>Praça Cristiano Ottoni, s/nº - Centro – Rio de Janeiro</p>
        <p class="nome">Cláudio Vieira de Campos</p>
        <p>cvcampos@pcivil.rj.gov.br</p>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button ion-button block class="btn_enderecos" (click)="tracaRota('Mc donalds')">traçar rota</button>
            </ion-col>
            <ion-col col-6>
              <button ion-button block class="btn_enderecos" (click)="opcaoLigar()">ligar</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
    <!-- <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item> -->
  </ion-list>
</ion-content>