page-enderecos {
    .border_header{border-bottom: 8px solid rgb(0, 100, 66);}
    .bg_content_lgbt{background: rgb(0, 144, 95);}
    .toolbar-background{background: rgb(0, 144, 95);}
    .back-button-icon-md, .back-button-icon-ios, .back-button-icon-wp{color: #fff;}
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{color: #fff;}

    .searchbar-md .searchbar-input, .searchbar-ios .searchbar-input, .searchbar-wp .searchbar-input{background: rgba(0, 0, 0,.20); border-radius: 10px; padding: 4px 44px; color: #fff; box-shadow: none;}
    .searchbar-wp .searchbar-input-container{border: none;}
    .searchbar-wp .searchbar-search-icon{left: 8px; right: 0; top: 10px;}
    .button-clear-ios, .button-clear-md{color: #fff;}
    .button-ios.activated, .button-md.activated, .button-wp.activated{background: #fff;}
    
    .title_categoria{background: rgb(0, 100, 66); padding: 10px;}
    .title_categoria p{color: #fff; font-size: 16px; font-weight: 600; margin: 0;}

    .grid{padding: 0;}
    
    .item-md, .item-ios{padding: 0;}
    .div_lista_enderecos{padding: 0 0 0 15px; white-space: normal;}
    .list-ios{margin: 0 0 32px;}
    .list-md{margin: 0 0 16px;}
    .lista_enderecos ion-item{border-bottom: 2px solid rgb(0, 100, 66) !important;}
    .list-ios .item-block .item-inner{border-bottom: 2px solid rgb(0, 100, 66);}
    .lista_enderecos ion-item span{color: #000; font-size: 18px; font-weight: 700;}
    .lista_enderecos ion-item p{color: #000; font-size: 16px; font-weight: 400; word-wrap: break-word; width: 100%;}
    .btn_enderecos{background: #fff; border: 2px solid rgb(0, 144, 95); box-shadow: none; border-radius: 8px;}
    .lista_enderecos ion-item button{margin: 10px 0 0 0;}
    .lista_enderecos ion-item button span{color: rgb(0, 144, 95); font-size: 14px; font-weight: 600;}
    .lista_enderecos .nome{font-weight: 700; margin: 10px 0 0 0;}

    .border_content{border-bottom: 30px solid rgb(0, 100, 66);}
}
