<ion-content class="bg_login">
  <div class="img_login"></div>

  <form class="form_login" (submit)="efetuaLogin()">
    <ion-input type="text" name="nome" placeholder="e-mail"></ion-input>
    <ion-input type="email" name="email" placeholder="senha"></ion-input>
    <a href="#">esqueci minha senha</a>
    <button ion-button type="submit">entrar</button>
  </form>
</ion-content>
