page-login {
    .bg_login{background: rgb(239, 235, 233);}
    .img_login{background: rgb(221, 77, 99); text-align: center; width: 56px; height: 56px; border-radius: 12px; margin: 50px auto 0 auto; -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.46); -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.46); box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.46);}
    .form_login{padding: 20px;}
    .form_login input{background: #fff; padding: 15px; border-radius: 8px; border: none; margin: 0 0 10px 0; width: 100%;}
    .form_login a{display: block; color: rgb(45, 83, 132); text-decoration: none; font-size: 16px; font-weight: 600; margin: 5px 0 0 0;}
    .form_login button{background: rgba(65, 120, 190,.50); color: #fff; margin: 20px 0 0 0; display: block; width: 100%;}
}
