<ion-header>
  <ion-navbar>
    <ion-title>definição</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="desc_detalhes_definicao">
    <h1>Nome social</h1>
    <p>Nome social é aquele assumido cotidianamente, no lugar do nome civil de batismo, de acordo com a aparência física.</p>
  </div>
</ion-content>
