page-detalhes-definicao {
    .border_header{border-bottom: 8px solid rgb(0, 100, 66);}
    .bg_content_lgbt{background: rgb(0, 144, 95);}
    .toolbar-background{background: rgb(0, 144, 95);}
    .back-button-icon-md, .back-button-icon-ios, .back-button-icon-wp{color: #fff;}
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{color: #fff;}
    .toolbar-title{color: #fff; font-size: 17px; padding: 0;}

    .desc_detalhes_definicao{padding: 15px;}
    .desc_detalhes_definicao h1{color: rgb(0, 100, 66); font-size: 24px; font-weight: 700;}
    .desc_detalhes_definicao p{color: rgb(0, 100, 66); font-size: 16px;}
}
