page-definicoes {
    .border_header{border-bottom: 8px solid rgb(0, 100, 66);}
    .bg_content_lgbt{background: rgb(0, 144, 95);}
    .toolbar-background{background: rgb(0, 144, 95);}
    .back-button-icon-md, .back-button-icon-ios, .back-button-icon-wp{color: #fff;}
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{color: #fff;}
    .toolbar-title{color: #fff; font-size: 17px; padding: 0;}

    .lista_definicoes button{color: rgb(0, 100, 66); padding: 0; font-weight: 600;}
    .item-inner{padding: 5px 0 5px 15px;}

    .border_content{border-bottom: 40px solid rgb(0, 100, 66);}
}
