<ion-header>
  <ion-navbar>
    <ion-title>definições</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="border_content">
  <div class="border_header"></div>
  <ion-list class="lista_definicoes">
    <button ion-item *ngFor="let item of items" (click)="abreDescDefinicao()">
      {{ item }}
    </button>  
  </ion-list>
</ion-content>
