<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Guias
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="opcaoSair()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>

<ion-content>
  <p class="p_home">Escolha um dos grupos para ver as informações</p>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button class="mulheres" (click)="navMulheres()">
          <div class="img_guias">
            <img src="#">
          </div>
          <span>Mulheres</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button class="lgbt" (click)="navLgbt()">
          <div class="img_guias">
            <img src="#">
          </div>
          <span>LGBT</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button class="discriminacao" (click)="navDiscRacial()">
          <div class="img_guias">
            <img src="#">
          </div>
          <span>Discriminação racial</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button class="idosos" (click)="navIdosos()">
          <div class="img_guias">
            <img src="#">
          </div>
          <span>Idosos</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button class="crianca" (click)="navCriancaAdol()">
          <div class="img_guias">
            <img src="#">
          </div>
          <span>Criança e adolescente</span>
        </button>
      </ion-col>
      <ion-col col-6>
        <button class="intolerancia" (click)="navIntolRelig()">
          <div class="img_guias">
            <img src="#">
          </div>
          <span>Intolerância religiosa</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>