page-home {
  .p_home{padding: 15px 10px 5px 15px; margin: 0; color: #000; font-weight: 500; font-size: 15px;}
  .mulheres{background: rgb(143, 101, 163); width: 100%; min-height: 113px; color: #fff; border-radius: 10px; padding: 10px; text-decoration: none; font-size: 18px;}
  .lgbt{background: rgb(0, 144, 95); width: 100%; display: block; min-height: 113px; color: #fff; border-radius: 10px; padding: 10px; text-decoration: none; font-size: 18px;}
  .discriminacao{background: rgb(223, 109, 6); width: 100%; display: block; min-height: 113px; color: #fff; border-radius: 10px; padding: 10px; text-decoration: none; font-size: 18px;}
  .idosos{background: rgb(138, 102, 78); width: 100%; display: block; min-height: 113px; color: #fff; border-radius: 10px; padding: 10px; text-decoration: none; font-size: 18px;}
  .crianca{background: rgb(208, 73, 63); width: 100%; display: block; min-height: 113px; color: #fff; border-radius: 10px; padding: 10px; text-decoration: none; font-size: 18px;}
  .intolerancia{background: rgb(65, 120, 190); width: 100%; display: block; min-height: 113px; color: #fff; border-radius: 10px; padding: 10px; text-decoration: none; font-size: 18px;}
  .mulheres span, .lgbt span, .discriminacao span, .idosos span, .crianca span, .intolerancia span{display: block; text-align: left;}
  .img_guias{background: rgba(0, 0, 0,.1); width: 40px; height: 40px; border-radius: 50%; margin: 0 0 5px 0;}
  .img_guias img{margin: 0 auto;}
}
