page-informacoes{
    .bg_content_lgbt{background: rgb(0, 144, 95);}
    .toolbar-background{background: rgb(0, 144, 95);}
    .back-button-icon-md, .back-button-icon-ios, .back-button-icon-wp{color: #fff;}
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{color: #fff;}
    .toolbar-title{color: #fff; font-size: 15px; padding: 0;}
    .toolbar-title span{color: #fff; font-size: 11px; padding: 0; display: block;}

    .descricao{padding: 15px;}
    .descricao p{font-size: 16px;}
    .btn_definicoes{padding: 0 15px;}
    .btn_definicoes a{display: block; background: #fff; color: rgb(0, 100, 66); font-size: 18px; font-weight: 700; border-radius: 10px; text-align: left; padding: 15px; cursor: pointer;}
    .btn_definicoes a [icon-right] ion-icon, [icon-end] ion-icon{font-size: 1.7em; line-height: 0.75; float: right;}

    .arquivos{padding: 0 15px; margin: 20px 0 0 0;}
    .arquivos p{color: #fff; font-size: 17px; font-weight: 600;}

    .grid{padding: 0;}

    .card_arquivos{background: rgb(0, 100, 66); padding: 30px 15px 15px 15px; border-radius: 8px; margin: 0; width: 100%;}
    .card_arquivos button{background: rgb(0, 100, 66); text-align: left;}
    .card_arquivos p{color: #fff; font-size: 16px; font-weight: 600; margin: 7px 0 0 0;}
    .card_arquivos .icon{color: rgba(0, 0, 0,.40) !important; font-size: 30px; text-align: left;}
}