<ion-header>
    <ion-navbar class="bg_content_lgbt">
        <ion-title>informações <span>LGBT</span></ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg_content_lgbt">
    <div class="descricao">
        <p>Identidade de Gênero refere-se à sensação interna de pertencer ao gênero feminino ou masculino. Ex.: Travestis, mulheres transexuais e homens trans.</p>
        <p>A orientação sexual, diferentemente da identidade de gênero, é definida pela inclinação afetiva do indivíduo. Lésbicas, gays e bissexuais.</p>
    </div>

    <div class="btn_definicoes">
        <a icon-right icon-end (click)="navDefinicoes()">
            definições <ion-icon name="arrow-forward"></ion-icon>
        </a>
    </div>

    <div class="arquivos">
        <p>arquivos</p>

        <ion-grid>
            <ion-row>
                <ion-col col-6> <!-- Loop lista de arquivos -->
                    <ion-card class="card_arquivos">
                        <button (click)="abrePDF()"> <!-- Testar PDF -->
                            <ion-icon name="document"></ion-icon>
                            <p>Projeto Violeta</p>
                        </button>
                    </ion-card>
                </ion-col> 

                <ion-col col-6> <!-- Loop lista de arquivos -->
                    <ion-card class="card_arquivos">
                        <button (click)="abrePDF()">
                            <ion-icon name="document"></ion-icon>
                            <p>Projeto Violeta</p>
                        </button>
                    </ion-card>
                </ion-col> 
            </ion-row>
        </ion-grid>
    </div>
</ion-content>