page-lgbt {
    .bg_content_lgbt{background: rgb(0, 144, 95);}
    .toolbar-background{background: rgb(0, 144, 95);}
    .back-button-icon-md, .back-button-icon-ios, .back-button-icon-wp{color: #fff;}
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{color: #fff;}
    .toolbar-title{color: #fff; font-size: 30px; text-align: left; padding: 0;}

    .img_guias{float: right; background: rgba(0, 0, 0,.1); width: 40px; height: 40px; border-radius: 50%; margin: 0 0 5px 0;}
    .img_guias img{margin: 0 auto;}
    .icon{color: #fff !important; font-size: 25px; text-align: left;}
    .card-ios, .card-md, .card-wp{background: rgb(0, 100, 66); padding: 10px; border-radius: 8px; margin: 0; width: 100%;}
    .card-ios button, .card-md button, .card-wp button{background: rgb(0, 100, 66); text-align: left;}
    .card_links{text-decoration: none;}
    .card_links p{color: #fff; font-size: 16px; font-weight: 600; margin: 7px 0 0 0;}
    .passo_passo{margin: 20px 0 0 0; padding: 0 15px;}
    .passo_passo p{color: #fff; font-size: 16px; font-weight: 600;}

    .card_passo_passo{background: #fff; border-radius: 8px; padding: 15px;}
    .card_passo_passo span{display: block; color: rgb(0, 100, 66); font-size: 24px; font-weight: 700; margin: 0 0 5px 0;}
    .card_passo_passo p{color: rgb(0, 100, 66); font-size: 18px; font-weight: 400;}
    .card_passo_passo a{color: rgb(0, 100, 66); font-size: 18px; font-weight: 700; text-decoration: underline;}

    .grid{padding: 5px 15px 0 15px;}
}
