<ion-header>
  <ion-navbar class="bg_content_lgbt"></ion-navbar>
</ion-header>

<ion-content class="bg_content_lgbt">
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-title>LGBT</ion-title>
      </ion-col>
      <ion-col col-6>
        <div class="img_guias">
            <img src="#">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <a href="#" (click)="navInformacoes()" class="card_links">
          <ion-card>
            <ion-icon name="information-circle"></ion-icon>
            <p>informações</p>
          </ion-card>
        </a>
      </ion-col>
      <ion-col col-6>
        <a href="#" (click)="navEnderecos()" class="card_links">
          <ion-card>
            <ion-icon name="pin"></ion-icon>
            <p>endereços</p>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="passo_passo">
    <p>passo a passo</p>

    <ion-card class="card_passo_passo"> <!-- Loop lista passo a passo -->
      <span>1</span>
      <p>Preocupe-se com o socorro à vítima e a <a href="#">preservação do local do crime</a></p> <!-- Pode ter links para detalhes-definicao ou para um arquivo pdf -->
    </ion-card>
  </div>
</ion-content>